{% extends "layout.html" %}
  
{% block content %}
  <h2>The SHMI is the standardised hospital-level mortality indicator</h2>
  <h3>The SHMI is the ratio between the actual number of patients who die following hospitalisation at the trust and the number that would be expected to die on the basis of average England figures, given the characteristics of the patients treated there.</h3>
  <h3>If your organisation's SHMI is less than 1 less people are dying than expected</h3>
  <h3>If your organisation's SHMI is more than 1 more people are dying than expected </h3>
  <h5>It is published by the HSCIC, more details can be found <a href="http://www.hscic.gov.uk/SHMI" target="_new"> here</a> </h4>
{% endblock %}